[submodule ".agents/skills/rime-config/references/rime-wiki"]
	path = .agents/skills/rime-config/references/rime-wiki
	url = https://github.com/rime/home.wiki.git
	shallow = true
[submodule ".agents/skills/rime-config/references/squirrel"]
	path = .agents/skills/rime-config/references/squirrel
	url = https://github.com/rime/squirrel.git
	shallow = true
[submodule ".agents/skills/rime-recipes-ice/references/rime-ice"]
	path = .agents/skills/rime-recipes-ice/references/rime-ice
	url = https://github.com/iDvel/rime-ice.git
	shallow = true
[submodule ".agents/skills/rime-preset-mint/references/oh-my-rime"]
	path = .agents/skills/rime-preset-mint/references/oh-my-rime
	url = https://github.com/Mintimate/oh-my-rime.git
	shallow = true
[submodule ".agents/skills/rime-recipes-wanxiang/references/rime_wanxiang"]
	path = .agents/skills/rime-recipes-wanxiang/references/rime_wanxiang
	url = https://github.com/amzxyz/rime_wanxiang.git
	shallow = true
